

li, a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 10%;
    position: absolute;
    width: 82%;

    background: url("../images/image-hero-desktop.jpg") no-repeat;
    background-size: cover;
    top: 0;
    height: 41.3vh;
    z-index: -1;
}


.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px;
}

