html {
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
    max-width: 1440px;
    overflow-x:hidden;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
}

.grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    margin-top: 30%;
}

.container {
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 70vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}

button {
    padding: 20px 25px;
    background-color: hsl(176, 50%, 47%);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    font-weight: 700;
    outline: none;
}

button:hover {
    background-color: hsl(176, 72%, 28%);
}

.top-container {
    margin-top: 35vh;
}

.top-container button:last-child {
    text-align: center;
    background: hsl(0, 0%, 83%) url("../images/icon-bookmark.svg");
    background-repeat: no-repeat;
    padding-left: 70px;
    color: hsl(0, 0%, 51%) ;
    transition: all 0.3s ease 0s;
}

.top-container button:last-child:focus {
    color: hsl(176, 72%, 28%);
    /* NEED JS */
}

.top-container button:last-child {
    margin-left: auto;
}

.top-container p {
    margin-top: 0;
    margin-bottom: 50px;
}

.logo-mastercraft {
    top: 0;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }